* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #f5f7fa;
  font-family: 'Montserrat', sans-serif;
}
.wrapper {
  background-color: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar {
  background: #1e2939;
  width: 300px;
  padding: 30px 0;
}
ul {
  list-style: none;
}
.my-photo {
  max-width: 300px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.about-me {
  padding: 30px 30px;
}
.contacts,
.tech-skills,
.soft-skills {
  margin: 0 0 10% 10%;
}

.contacts .title,
.tech-skills .title,
.soft-skills .title {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}
.contacts .item,
.tech-skills .item,
.soft-skills .item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #abcdef;
  text-decoration: none;
}
.contacts .item:not(:last-child),
.tech-skills .item:not(:last-child),
.soft-skills .item:not(:last-child) {
  margin-bottom: 5px;
}
.contacts .link {
  line-height: 24px;
  color: #abcdef;

  overflow: hidden;
  text-decoration: none;
}
.soft-skills {
  margin: 0 0 0 10%;
}
.soft-skills .item {
  margin: 0 0 0 25px;
}
.about_container {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.profession {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}
.name {
  margin: 0 0 0 10px;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
}
.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-indent: 15px;
}
.info-container {
  margin-bottom: 20px;
}
h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.projects-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
}
.tech-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
}
.projects-item {
  font-weight: 700;
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
}

.profession-title {
  margin: 0 0 0 15px;
  font-size: 16px;
  font-weight: 400;
}
.company {
  color: #ff7011;
}
.profession-time {
  font-size: 12px;

  line-height: 24px;
  color: #a8a8a8;
}

.svg {
  width: 24px;
  height: 24px;
  margin: 0 10px 0 0;
}
